body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #dd0cf8e7;
}

h1 {
  text-align: center;
}

.botones {
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ec0e0e;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #4cf618;
}

.catalogo {
  display: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
